.logo {
    display: grid;
    justify-content: center;
    align-content: center;

    & > h1 {
        color: $clr4;
        font-weight: 600;
        font-size: rem(50px);
        font-family: Kanit;
    }
}

.title {
    & > h4 {
        color: $clr4;
        font-weight: 600;
        margin-bottom: 1px;
    }
}
