.todos {
    display: flex;
    flex-direction: column;
    z-index: 0;
    max-height: 650px;
    overflow-y: auto;

    @include for-mobile-layout {
        align-items: center;
    }


    .todo {
        background-color: $clr4;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        padding: 1rem;
        max-width: 457px;
        min-height: 65px;
        max-height: 65px;
        margin-bottom: 5px;
        margin-right: 5px;

        @include for-mobile-layout {
            width: 350px;
            max-width: 350px;
            margin-right: 0;
        }

        &:hover {
            background-color: $clr4a;
            transition: 0.2s;
        }

        &.completed {
            background-color: $clr5;

            & > .checkbox {
                background-color: $clr5;
            }

            & > .text {
                text-decoration: line-through;
            }
        }

        .text {
            width: 440px;
            overflow: hidden;
            text-overflow: ellipsis;
            color: $clr3;

        }

        .edit-tools {
            display: flex;

            .delete-todo {
                width: 30px;
                height: 25px;
                display: flex;
                justify-content: center;
                align-items: center;
                color: $clr6;
                font-size: rem(22px);
                font-weight: 600;
                margin-left: 10px;

                &:hover {
                    transition: 0.2s;
                    color: $clr3;
                }
            }

            .edit-todo {
                width: 30px;
                height: 25px;
                display: flex;
                align-items: center;
                justify-content: center;
                color: $clr6;
                font-size: rem(18px);
                font-weight: 600;
                margin-left: 10px;

                &:hover {
                    transition: 0.2s;
                    color: $clr3;
                }
            }
        }

        .checkbox {
            width: 25px;
            height: 20px;
            display: flex;
            justify-content: center;
            background-color: $clr3;
            margin-right: 10px;
            transition: 0.4s;
        }
    }
}
