// Colors
$clr1: #13112a;
$clr2: #db32a2;
$clr3: #ffffff;
$clr4: #36d391;
$clr4a: #36d392da;
$clr5: #36d3929a;
$clr6: #419553;
$clr7:rgb(52, 138, 85);
$clr8:rgba(196, 238, 218, 0.719);

//Background color 

$bgrclr:rgba(251, 251, 251, 0.863);


// Breakpoints
$mobile-breakpoint: 475px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;